.badge {
  display: inline-block;
  box-sizing: border-box;
  min-width: 60px;
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;

  &_type_sell {
    background-color: #6199c6;
  }

  &_type_buy {
    background-color: #ee6c4d;
  }
}
