.action-button {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #005fae;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    margin-right: 8px;
  }

  &_icon_previous::before {
    width: 12px;
    height: 10px;
    background-image: url("../../assets/ActionButtonIconPrevious.svg");
  }

  &_icon_comments::before {
    width: 16px;
    height: 14px;
    margin-right: 6px;
    background-image: url("../../assets/ActionButtonIconComment.svg");
  }

  &_type_secondary {
    color: #888888;
  }
}
