.viewings {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #888888;


  &::before {
    content: '';
    width: 18px;
    height: 10px;
    margin-right: 6px;
    background-image: url("../../assets/Viewings.svg");
  }

  &_type_secondary::before {
    width: 14px;
    height: 8px;
    background-image: url("../../assets/ViewingsSecondary.svg");
  }
}
